@tailwind base;
@tailwind components;
@tailwind utilities;

@body-background: #080808;
@component-background: #161616;
@header-color: fade(@white, 100%);
@header-color-secondary: fade(@white, 80%);
@text-color: fade(@white, 45%);
@black-gradient: radial-gradient(101.41% 101.41% at 50% -0.7%, #101010 35%, #1F1F1F 68%, #323232 100%), linear-gradient(41.83deg, rgba(255, 255, 255, 0.4) 1.72%, rgba(255, 255, 255, 0.128) 72.51%);
@purple-gradient: radial-gradient(101.41% 101.41% at 50% -0.7%, #101010 35%, #401241 68%, #701471 100%), linear-gradient(41.83deg, #FFFFFF 1.72%, rgba(255, 255, 255, 0) 72.51%);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
